@font-face {
    font-family: "ds-digi";
    src: url(fonts/digital-7-eigen.ttf);
}

@font-face {
    font-family: "hack";
    src: url(fonts/Hack-Bold.ttf);
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    color: white;
    border: 7px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    height: 210px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.days{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "hack";
    margin-left: 10px;
    color: rgba(255,255,255,0.4);
}

.active{
    color: white;
}

.time{
    display: flex;
    justify-content: space-between;
    font-size: 250px;
    margin-left: 20px;
    align-items: center;
    font-family: 'ds-digi';
}

.seperator{
    position: relative;
    animation: dots 2s infinite;
}

.seperator::after{
    content: ":";
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.137)
}

.hours{
    position: relative;
}

.hours::after{
    content: "88";
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.137)
}

.minutes{
    position: relative;
}

.minutes::after{
    content: "88";
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.137)
}


@keyframes dots {
    0%{color: white;}
    50%{color: rgba(255, 255, 255, 0);}
    100%{color: white;}
}