@font-face {
    font-family: "ds-digi";
    src: url(fonts/digital-7.ttf);
}

@font-face {
    font-family: "hack";
    src: url(fonts/Hack-Bold.ttf);
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    color: white;
    border: 7px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.days{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "hack";
    margin-left: 10px;
    color: rgba(255,255,255,0.4);
}

.active{
    color: white;
}

.time{
    display: flex;
    justify-content: space-between;
    font-size: 250px;
    margin-left: 20px;
    align-items: center;
    font-family: 'ds-digi';
}

.seperator{
    animation: dots 2s infinite;
}



@keyframes dots {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}